.wc-header__logo {
  position: relative;
}
.wc-header__logo--link {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wc-header__logo--link:is(:hover, :focus) {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.wc-header__logo--link h1 {
  transition: all 0.4s ease;
  font-family: var(--font-family-title);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-lighter);
  width: 9ch;
  position: relative;
}
.wc-header__logo--link h1::before {
  content: "";
  display: inline-block;
  height: 150%;
  width: 1px;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  background: var(--secondary-color);
}
.wc-header__logo--link path {
  fill: var(--secondary-color);
  fill-opacity: 1;
  stroke-dasharray: 12860 12862;
  stroke-dashoffset: 12861;
  animation: wc_logo 4000ms ease-in 0ms reverse;
}
.wc-header__logo--link:hover path {
  /* fill: none; */
  fill: var(--secondary-color);
  stroke-dasharray: 12860 12862;
  stroke-dashoffset: 12861;
  animation: wc_logo_hover 2000ms ease-in 0ms forwards;
}
@keyframes wc_logo {
  0% {
    fill-opacity: .6;
  }
  10% {
    fill-opacity: .3;
  }
  90% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }
}
@keyframes wc_logo_hover {
  0% {
    fill-opacity: 0;
  }
  95% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
@media only screen and (max-width: 767px) {
  .wc-header__logo--link h1 {
    font-size: var(--font-size-regular);
  }
}
