.wc-footer__rightReserved--text {
  font-size: var(--font-size-medium);
  font-family: var(--font-family-title);
}
.wc-footer__rightReserved--text a {
  color: var(--secondary-color);
}
@media only screen and (max-width: 767px) {
  .wc-footer__rightReserved--text {
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    line-height: var(--line-height-medium);
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
}
