.wc-header {
    font-family: "Monument Extended", sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10%;
    background: rgb(5, 25, 51);
    background: linear-gradient(
        0deg,
        rgba(5, 25, 51, 1) 0%,
        rgba(9, 51, 102, 1) 50%
    );
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}

.wc-header a {
    /*todos os links do header*/
    color: #fff;
    text-decoration: none;
    /* font-weight: 100; */
}

.wc-header__logo {
    position: relative;
}

.wc-header__logo a {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    transition: all 0.4s ease;
}

.wc-header__logo a:is(:hover, :focus) h1 {
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.wc-header__logo h1 {
    transition: all 0.4s ease;
    font-size: 2.5rem;
    font-weight: 100;
}

@media only screen and (max-width: 767px) {
    .wc-header__logo h1 {
        font-size: 1.5rem;
    }

}

.wc-header__menu--nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.wc-header__menu--nav ul li a {
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease;
    font-size: 0.8125rem;
    padding: 0 0.5rem;
    outline: none;
}

.wc-header__menu--nav ul li a::after {
    content: "";
    position: absolute;
    left: 0.3rem;
    bottom: -10px;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 0;
    background: #fff;
    transition: all 0.4s ease;
    will-change: transform, transition;
    z-index: 1000;
}
.wc-header__menu--nav ul li a:is(:hover, :focus)::after {
    width: calc(100% - 0.3rem);
}

#menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    display: none;
}
#btn-mobile {
    display: none;
}
@media only screen and (max-width: 767px) {
    .wc-header__menu--nav {
        display: none;
    }
    #menu {
        visibility: hidden;
        overflow-y: hidden;
        background: #e7e7e7;
        display: block;
        width: 100%;
        height: 0;
        position: absolute;
        top: 70px;
        right: 0;
        transition: 0.6s;
        z-index: 1000;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #ddd;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 0;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    #btn-mobile:is(:hover) {
        transform: rotate(360deg);
        transform: scale(1.5);
        transition: all 0.4s ease;
    }
    #nav.active #btn-mobile:focus {
        transform: skew(0deg, 0deg);
    }
    #hamburguer {
        display: block;
        border-top: 2px solid #fff;
        width: 20px;
        transition: 0.4s;
    }
    #hamburguer::before,
    #hamburguer::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: #fff;
        position: relative;
        transition: 0.4s;
    }
    #nav.active #hamburguer {
        border-top: transparent;
        transform: rotate(1350deg);
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
