@import url(./header/logo.css);
@import url(./header/menu.css);

.wc-header {
  font-family: var(--font-family-one);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background: rgb(5, 25, 51);
  background: linear-gradient(
    0deg,
    rgba(5, 25, 51, 1) 0%,
    rgba(9, 51, 102, 1) 50%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}