/*.wc-main {margin-top: 4.5rem;}*/
.wc-main__banner {
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
}
.wc-main__banner--container {
    position: relative;
}
.wc-main__banner--img,
.wc-linkbio__banner-img {
    opacity: 0.2;
}
.wc-main__banner--content {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    text-align: left;
}
.wc-main__banner--content_img {
    width: 30%;
    transition: var(--transition);
}
.wc-main__banner--content_img:hover {
    transform: scale(1.05);
}
.wc-main__banner--content_img > img {
    width: 100%;
}
.wc-main__banner--content_text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wc-main__banner--content_title,
.wc-main__banner--content_description {
    font-family: var(--font-family-base);
    color: var(--secondary-color);
}
.wc-main__banner--content_title {
    font-size: var(--font-size-giant);
}
.wc-main__banner--content_description {
    display: inline-block;
    font-family: monospace;
    font-size: var(--font-size-big);
    text-align: left;
}
@media only screen and (min-width: 767px) {
    .wc-main__banner--content_link {
        font-family: var(--font-family-title);
        font-size: var(--font-size-subtitle);
        color: var(--secondary-color);
        letter-spacing: 0.07em;
        width: max-content;
        padding: 12px;
        box-sizing: border-box;
        transition: all 0.4s ease;
        padding: 0.7em calc(0.7em * 1.2);
        display: inline-block;
        border: 3px solid transparent;
        position: relative;
        cursor: pointer;
    }
    .wc-main__banner--content_link .text {
        transform: translate3d(0, 0.7em, 0);
        display: block;
        transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .wc-main__banner--content_link .text::after {
        position: absolute;
        content: "";
        bottom: -6px;
        left: calc(0.1em * 1.2);
        right: calc(0.1em * 1.2);
        height: 3px;
        background: var(--color-white);
        transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
            right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
            left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
        transform-origin: left;
    }
    .wc-main__banner--content_link .line {
        position: absolute;
        background: var(--color-white);
    }
    .wc-main__banner--content_link .line.-right,
    .wc-main__banner--content_link .line.-left {
        width: 3px;
        bottom: -3px;
        top: -3px;
        transform: scale3d(1, 0, 1);
    }
    .wc-main__banner--content_link .line.-top,
    .wc-main__banner--content_link .line.-bottom {
        height: 3px;
        left: -3px;
        right: -3px;
        transform: scale3d(0, 1, 1);
    }
    .wc-main__banner--content_link .line.-right {
        right: -3px;
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
        transform-origin: top;
    }
    .wc-main__banner--content_link .line.-top {
        top: -3px;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
    }
    .wc-main__banner--content_link .line.-left {
        left: -3px;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
    }
    .wc-main__banner--content_link .line.-bottom {
        bottom: -3px;
        transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
        transform-origin: right;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .text {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .text::after {
        transform: scale3d(0, 1, 1);
        right: -3px;
        left: -3px;
        transform-origin: right;
        transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
            right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .line {
        transform: scale3d(1, 1, 1);
    }
    .wc-main__banner--content_link:is(:hover, :focus) .line.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .line.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .line.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
    }
    .wc-main__banner--content_link:is(:hover, :focus) .line.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
    }
}
@media only screen and (max-width: 767px) {
    .wc-main__banner {
        /* height: 90vh; */
        height: 100%;
    }
    .wc-main__banner--container {
        height: 100%;
    }
    .wc-main__banner--content {
        top: 6rem;
        padding-top: 2rem;
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }
    .wc-main__banner--content_img {
        width: 60%;
    }
    .wc-main__banner--content_text {
        width: 100%;
    }
    .wc-main__banner--content_title {
        right: 10%;
        top: 2.5rem;
        font-size: var(--font-size-title);
    }
    .wc-main__banner--content_description {
        font-size: var(--font-size-base);
        min-height: 3rem;
    }
    .wc-main__banner--content_link {
        font-size: var(--font-size-medium);
        padding: 12px;
        width: 100%;
        text-align: center;
    }
    .wc-main__banner--content_link {
        font-family: var(--font-family-title);
        color: var(--secondary-color);
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        transition: all 0.4s ease;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, #fff 100%, #fff 100%),
            linear-gradient(to bottom, #fff 100%, #fff 100%),
            linear-gradient(to right, #fff 100%, #fff 100%),
            linear-gradient(to bottom, #fff 100%, #fff 100%);
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
    }
    .wc-main__banner--content_link:is(:hover, :focus) {
        transform: scale(1.1);
        transition: all 0.4s ease;
        color: #000;
        background: #fff;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, #fff 100%, #fff 100%),
            linear-gradient(to bottom, #fff 100%, #fff 100%),
            linear-gradient(to right, #fff 100%, #fff 100%),
            linear-gradient(to bottom, #fff 100%, #fff 100%);
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        animation: bg 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1;
    }
}
