@font-face {
    font-family: "BebasNeue-Bold";
    src: url("../fonts/BebasNeue-Bold.eot");
    src: url("../fonts/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/BebasNeue-Bold.svg#BebasNeue-Bold") format("svg"),
        url("../fonts/BebasNeue-Bold.ttf") format("truetype"),
        url("../fonts/BebasNeue-Bold.woff") format("woff"),
        url("../fonts/BebasNeue-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../fonts/BebasNeue-Regular.eot");
    src: url("../fonts/BebasNeue-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/BebasNeue-Regular.svg#BebasNeue-Regular") format("svg"),
        url("../fonts/BebasNeue-Regular.ttf") format("truetype"),
        url("../fonts/BebasNeue-Regular.woff") format("woff"),
        url("../fonts/BebasNeue-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINOT-Bold";
    src: url("../fonts/DINOT-Bold.eot");
    src: url("../fonts/DINOT-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/DINOT-Bold.svg#DINOT-Bold") format("svg"),
        url("../fonts/DINOT-Bold.ttf") format("truetype"),
        url("../fonts/DINOT-Bold.woff") format("woff"),
        url("../fonts/DINOT-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url(https://fonts.cdnfonts.com/css/monument-extended);
/* @import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);
@font-face {
font-family: "Monument Extended";
src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix") format("embedded-opentype"),
url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2") format("woff2"),
url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff") format("woff"),
url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf") format("truetype"),
url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended") format("svg"); 
} */

.wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 14ch;
    animation: typing 2s steps(14), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* h1 {
text-align: center;
overflow: hidden;
font-size: 100%;
border-right: .15em solid #fff;
white-space: nowrap;
letter-spacing: .15em;
animation: typing 2.5s steps(22, end), blink-caret .75s step-end;
} */

/* h2 {
font-size: 100%;
white-space: nowrap;
overflow: hidden;
border-right: .15em solid black;
-webkit-animation: typing 2s steps(26, end), blink-caret 1s step-end;
-webkit-animation-delay: 3s;
-webkit-animation-fill-mode: both;
-moz-animation: typing 2s steps(26, end), blink-caret 1s step-end;
-moz-animation-delay: 3s;
} */

body.wc-body {
    background: #000;
}
/* ============> SECTIONS <============ */

section {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

section h2 {
    font-family: "Monument Extended", sans-serif;
    color: goldenrod;
}

#wc-portifolio ul,
#wc-habilidades ul {
    display: flex;
    justify-content: space-between;
}

#wc-portifolio ul a {
    color: #fff;
    text-decoration: none;
}
