.wc-main {
  margin-top: 5rem;
}
.wc-main__banner {
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  padding: 0;
}
.wc-main__banner--container {
  position: relative;
}
.wc-main__banner--img {
  opacity: 0.2;
}
.wc-main__banner--content {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
}
.wc-main__banner--content_img {
  width: 30%;
  transition: var(--transition);
}
.wc-main__banner--content_img:hover {
  transform: scale(1.05);
}
.wc-main__banner--content_img > img {
  width: 100%;
}
.wc-main__banner--content_text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wc-main__banner--content_title,
.wc-main__banner--content_description {
  font-family: var(--font-family-base);
  color: var(--secondary-color);
}
.wc-main__banner--content_title {
  font-size: var(--font-size-giant);
}
.wc-main__banner--content_description {
  display: inline-block;
  font-family: monospace;
  font-size: var(--font-size-big);
  text-align: left;
}
.wc-main__banner--content_link {
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  width: max-content;
  margin-top: 2rem;
  padding: 12px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #fff 100%, #fff 100%),
    linear-gradient(to bottom, #fff 100%, #fff 100%),
    linear-gradient(to right, #fff 100%, #fff 100%),
    linear-gradient(to bottom, #fff 100%, #fff 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  transition: all 0.4s ease;
  animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
.wc-main__banner--content_link:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  color: #000;
  background: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #fff 100%, #fff 100%),
    linear-gradient(to bottom, #fff 100%, #fff 100%),
    linear-gradient(to right, #fff 100%, #fff 100%),
    linear-gradient(to bottom, #fff 100%, #fff 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@media only screen and (max-width: 767px) {
  .wc-main__banner--content_title {
    right: 10%;
    top: 2.5rem;
    font-size: var(--font-size-title);
  }
  .wc-main__banner--content_description {
    top: 4.5rem;
    font-size: var(--font-size-base);
  }
  .wc-main__banner--content_link {
    position: absolute;
    top: 6.5rem;
    font-size: var(--font-size-medium);
    padding: 12px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fff 100%, #fff 100%),
      linear-gradient(to bottom, #fff 100%, #fff 100%),
      linear-gradient(to right, #fff 100%, #fff 100%),
      linear-gradient(to bottom, #fff 100%, #fff 100%);
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    transition: all 0.4s ease;
  }
}
