.wc-about {
  margin: 0;
  padding: 7rem 10% 7rem;
  background: var(--color-linear-gradient-2);
}
.wc-about__description strong,
.wc-about__description a {
  font-weight: 700;
  color: var(--color-golden);
}
@media only screen and (max-width: 767px) {
  .wc-about__description {
    text-align: justify;
  }
}
