.wc-experience__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wc-experience__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--color-white-transparency-2);
  border-radius: 10px;
  border: 2px solid transparent;
  transition: var(--transition);
  position: relative;
}
.wc-experience__item:has(details[open]) {
  border: 2px solid var(--color-white-transparency-2);
  box-shadow: var(--boxshadow-hover-1);
}
.wc-experience__item details summary {
  padding: 2rem;
  list-style: none;
}
.wc-experience__item details summary::-webkit-details-marker {
  display: none;
}
.wc-experience__item details summary::after {
  content: "+";
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.wc-experience__item details[open] summary:after {
  content: "-";
}
.wc-experience__item details ul {
  padding: 3rem;
  padding-top: 0;
}
.wc-experience__item h3 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-lighter);
  margin-bottom: 0.5rem;
}
.wc-experience__item h4 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-lighter);
  color: var(--primary-color);
}
.wc-experience__item h4 span {
  font-family: monospace;
  font-size: var(--font-size-smaller);
}
.wc-experience__item ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.wc-experience__item li {
  font-family: var(--font-family-base);
  font-family: monospace;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-small);
  list-style: circle;
}
