.wc-projects {
    max-width: 100%;
    width: 100%;
    background: var(--color-linear-gradient-2);
}
.wc-projects__container {
    width: 80%;
    margin: 0 auto;
}
.wc-projects__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.wc-projects__item {
    height: 60vh; /*27rem;*/
    max-width: 100%;
    padding: 2rem 1rem;

    margin: 3rem 0;
    margin-right: 2rem;
    border: 1px solid var(--color-white-transparency);
    border-radius: 10px;
    background: transparent;
    transition: var(--transition);
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 4px 8px var(--color-white-transparency-2);
    overflow: hidden;
}
@media only screen and (min-width: 767px) {
    .wc-projects__item:is(:hover, :focus) {
        transform: scale(1.05);
    }
    .wc-projects__item.slick-center {
        transform: scale(1.15);
    }
    .wc-projects__item.slick-center:is(:hover, :focus) {
        transform: scale(1.2);
    }
}
.wc-projects__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s, background-color 0.3s;
    z-index: 0;
    filter: opacity(0.5);
}
.wc-projects__item:is(:hover, :focus) {
    border: 1px solid var(--color-white-transparency);
}
.wc-projects__item:is(:hover, :focus)::before {
    transform: translate(-50%, -50%) scale(8);
    background-color: var(--color-white-transparency-2);
}
.wc-projects__item--content,
.wc-projects__item--links {
    z-index: 1;
}
.wc-projects__item img {
    transition: var(--transition);
    width: 100%;
}
.wc-projects__item h3 {
    color: var(--primary-color);
    font-family: var(--font-family-title);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-lighter);
    padding: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.wc-projects__item p {
    font-size: var(--font-size-small);
    min-height: 10ch;
}
.wc-projects__item a {
    color: #ffffff;
    text-decoration: underline;
}
.wc-projects__item--skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
}
.wc-projects__item--skills_item svg use {
    fill: var(--primary-color);
}
.wc-projects__item--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    /* margin-top: 1rem; */
}
.wc-projects__item--links a {
    text-decoration: none;
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    font-weight: 900;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: var(--transition);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}
.wc-projects__item--links a:is(:hover, :focus) {
    color: var(--color-black);
    transition: var(--transition-1s);
    box-shadow: var(--boxshadow-slide-golden_down);
}
@media only screen and (max-width: 767px) {
    .wc-projects__item {
        padding: 1rem;
    }
    .wc-projects__item--links {
        flex-wrap: wrap;
        margin: 0;
    }
    .wc-projects__item--links > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .wc-projects__item--links a {
        width: 100%;
        padding: 0.5rem 0.8rem;
    }
    .wc-projects__item--links a:not(:last-child) {
        margin: 0.5rem 0;
    }
}
/* ==================================== */
.wc-projects__items .slick-prev,
.wc-projects__items .slick-next {
    position: absolute;
    top: 40%;
    z-index: 4;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 0;
}
.wc-projects__items .slick-prev {
    left: -2rem;
}
.wc-projects__items .slick-next {
    right: -2rem;
}
.wc-projects__items .slick-prev::after,
.wc-projects__items .slick-next::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 4px solid;
    border-left: 0;
    border-top: 0;
    text-align: center;
    font-family: var(--font-family-title-ultrabold);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    border-color: var(--color-white-transparency);
    cursor: pointer;
    content: "";
}
.wc-projects__items .slick-prev::before,
.wc-projects__items .slick-next::before {
    display: none !important;
}
@media only screen and (max-width: 767px) {
    .wc-projects__items .slick-prev::after,
    .wc-projects__items .slick-next::after {
        display: none;
    }
}
.wc-projects__items .slick-prev::after {
    /* content: "←"; */
    transform: rotate(135deg);
}
.wc-projects__items .slick-next::after {
    /* content: "→"; */
    transform: rotate(-45deg);
}
.wc-projects__items .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.wc-projects__items .slick-dots li {
    margin: 0 !important;
}
.wc-projects__items .slick-dots button {
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 0;
    padding: 0;
}
.wc-projects__items .slick-dots button::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    text-align: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    color: var(--color-white-transparency);
    background: var(--color-white-transparency);
    cursor: pointer;
}
.wc-projects__items .slick-dots button::before {
    display: none !important;
}
.wc-projects__items .slick-dots .slick-active button::after {
    background: var(--color-linear-gradient-1);
    border-color: var(--color-white-transparency);
}
.wc-projects__items .slick-track {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
    .wc-projects__items .slick-dots {
        gap: 0.2rem;
    }
    .wc-projects__items .slick-dots li {
        width: 0.8rem;
    }
    .wc-projects__items .slick-dots button::after {
        width: 0.2rem;
        height: 0.2rem;
    }
}
