/* .wc-skills {
    background: var(--color-linear-gradient-2);
} */
.wc-skills__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 2rem 0;
}
.wc-skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(6px 6px 2px transparent);
    filter: drop-shadow(0px 0px 60px var(--color-black));
    box-sizing: border-box;
    transition: var(--transition);
    width: 100%;
}
.wc-skills__item svg {
    width: 100%;
    max-width: 4rem;
    filter: drop-shadow(0 0 4px transparent);
    transition: var(--transition);
}
.wc-skills__item:is(:hover, :focus, :focus-visible) svg {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px currentColor);
}
.wc-skills__item--text {
    font-family: var(--font-family-title);
    font-size: var(--font-size-small);
    text-align: center;
    margin-top: 1rem;
}
@media only screen and (max-width: 767px) {
    .wc-skills__items {
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
        gap: 2rem 0;
        filter: drop-shadow(0px 0px 0px transparent);
    }
    .wc-skills__item--text {
        font-size: var(--font-size-small);
    }
}
