.wc-skills__items {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wc-skills__item {
  flex: 1 0 40px;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wc-skills__item:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.wc-skills__item--text {
  font-family: var(--font-family-one);
  margin-top: 1rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .wc-skills__items {
    gap: 1rem;
  }
  .wc-skills__item {
    flex: 1 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wc-skills__item svg {
    width: 30%;
  }
  .wc-skills__item p {
    font-size: var(--font-size-base);
  }
}
