* {
    box-sizing: border-box;
    font-family: "Glacial Indifference", sans-serif;
}

.wc-linkbio__title,
.wc-linkbio__subtitle,
.wc-linkbio__link--primary,
.wc-linkbio__link--secondary,
.wc-linkbio__text {
    font-family: var(--font-family-other-2);
    font-family: "Glacial Indifference", sans-serif;
}

.wc-linkbio {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #000000;
}

.wc-linkbio__banner {
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

.wc-linkbio__main {
    width: 100%;
    height: 100%;
    padding: 4rem 1.5rem;
}

.wc-linkbio__header {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.wc-linkbio__img {
    width: 40%;
    object-fit: cover;
}

.wc-linkbio__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wc-linkbio__title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    text-align: center;
    letter-spacing: 0;
}

.wc-linkbio__title span {
    font-weight: 100;
}

.wc-linkbio__subtitle {
    font-weight: 400;
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wc-linkbio__primary,
.wc-linkbio__secondary {
    max-width: 100%;
    width: 100%;
    padding: 2rem;
    margin: 0;
}

.wc-linkbio__primary-links {
    margin: 2rem auto;
}

.wc-linkbio__items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.wc-linkbio__item {
    width: 100%;
    height: 100%;
}

.wc-linkbio__link--primary {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--color-white-transparency);
    border: 1px solid var(--color-black);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    font-size: var(--font-size-medium);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    transition: var(--transition);
}
.wc-linkbio__secondary-links {
    position: relative;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    /* display: none; */
}

.wc-linkbio__secondary-links::before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--color-white-transparency);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.wc-linkbio__secondary-links .wc-linkbio__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wc-linkbio__secondary-links .wc-linkbio__item {
    width: auto;
}
.wc-linkbio__link--secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-white-transparency);
    border-radius: 50%;
    border: 2px solid transparent;
    transition: var(--transition);
}

@media only screen and (min-width: 767px) {
    .wc-linkbio__main {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .wc-linkbio__img {
        width: 10rem;
    }

    .wc-linkbio__title,
    .wc-linkbio__title span {
        font-size: var(--font-size-title);
    }

    .wc-linkbio__primary-links {
        width: 50%;
    }

    .wc-linkbio__secondary-links::before {
        width: 70%;
        left: 15%;
        right: 15%;
    }
    .wc-linkbio__link--secondary-links {
        width: 3rem;
        height: 3rem;
    }
    .wc-linkbio__link--primary:is(:hover, :focus, :focus-visible),
    .wc-linkbio__link--secondary:is(:hover, :focus, :focus-visible) {
        transform: scale(1.1);
        border: 2px solid var(--color-white-transparency-2);
        box-shadow: var(--boxshadow-hover-1);
    }
    .wc-linkbio__link--primary:is(:hover, :focus, :focus-visible) {
        transform: scale(1.02);
    }
}
